<ion-content>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login de usuario</ion-card-title>
      </ion-card-header>
      <form [formGroup]="frmLogin" (ngSubmit)="Login()">
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" formControlName="usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="pass"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button type="ngSubmit">Login</ion-button>
          </ion-item>
        </ion-card-content>
      </form>
    </ion-card>
  </div>
</ion-content>